body{
	background: #e2e2e2 !important;
}

.bg-primary{
	background: #009688 !important;
	
}



.banner{
	width:100%;
	height:95vh;
	background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)) ,url(../img/img.jpg);
	background-size:cover;
	color:white;
	
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}



/*Style Side bar  */

@media only screen and (max-width:600px)
{
	.sidebar{
	display:none;
	width: 80% !important;
	background: white;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
}


.content{
	margin-left: 0% !important;
}
	
}

.sidebar{
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 99999999999999999999999999999999;
}

.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray
	
}

.sidebar a:hover{
	background: #e2e2e2;
}

.sidebar.divider{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px
}

.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
	
}

.content{
	margin-left: 20%
}


/* view contact image height width controlling */

.profile_picture{
	width:35px;
	height:35px;
	object-fit:cover;
	border-radius:50%;
	
}


.active{
	background:#009688 !important;
	color:white !important;
	
}





/* Search CSS */

.search-container{
	position:relative;
}

.search-result{
	position:absolute;
	backgroud:white;
	width:100%;
	padding:10px;
	border:1px solid gray;
	
	display:none;
}

